<div class="container-fluid" style="padding-top:20px;padding-bottom:120px" ng-controller="TvshowController" ng-init="init('<%= @identifier %>')">
  <div class="row">
    <div class="col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-1">
      <h1>{{ tvshow.name }}</h1>
    </div>
  </div>
  <div class="row">
    <%= render :partial => "episode/card_list", :locals => { :repeat => "episode in tvshow.episodes", :container_class => "ol-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1"  } %>
  </div>
</div>
