<div class="card <%= container_class unless container_class.nil? %>" ng-repeat="<%= repeat %>">
  <table style="width:100%">
    <tr>
      <td class="picture" valign="top">
        <a ng-href="/{{ episode.rabbi }}/{{ episode.identifier }}">          
          <img ng-show="episode.id > 37" ng-src="http://cloudfront.yehudim.tv/tvshows/episodes/{{ episode.amazon_identifier }}/episodio.jpg" style="width:100%" />          
          <img ng-hide="episode.id > 37" ng-src="/assets/episodes/{{ episode.identifier }}.jpg" style="width:100%" />          
        </a>
      </td>
      <td>&nbsp;</td>
      <td class="text">
        <a ng-href="/{{ episode.rabbi }}/{{ episode.identifier }}">
          <h3>{{ episode.title }}</h3>
          {{ episode.description }}
        </a>
      </td>
    </tr>
  </table>
</div>