<div class="container-fluid" style="padding-bottom:180px;">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar" ng-controller="SidebarController" ng-init="init()">
        <!-- li class="active"><a href="#">Overview</a></li -->
        <li ng-repeat="tvshow in tvshows">
            <a href="{{ tvshow.identifier }}">{{ tvshow.name }}</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-6 col-sm-offset-2 col-md-5 col-md-offset-2 main">
      <%= image_tag "Logo800.jpg", :style => "width:100%" %>
    </div>
    <div class="col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1" style="padding-top:50px;" ng-controller="SpotlightController" ng-init="init()">
      <%= render :partial => "episode/card_list", :locals => { :repeat => "episode in episodes", :container_class => "" } %>
    </div>
  </div>
</div>